SECRET_KEY=change-me
DEBUG=False
ALLOWED_HOSTS=localhost,127.0.0.1

DATABASE_ENGINE=django.db.backends.postgresql
DATABASE_NAME=telemetry_analytics_service
DATABASE_USER=postgres
DATABASE_PASSWORD=your-password-here
DATABASE_HOST=127.0.0.1
DATABASE_PORT=5432

LANGUAGE_CODE=ru-ru
TIME_ZONE=Asia/Yekaterinburg

OMNICOMM_BASE_URL=https://online.omnicomm.ru/ls/api
OMNICOMM_LOGIN_URL=https://online.omnicomm.ru/auth/login?jwt=1
OMNICOMM_VEHICLE_TREE_PATH=/v2/tree/vehicle
OMNICOMM_CLICK_LOG_PATH=/v1/click/log
OMNICOMM_REQUEST_TIMEOUT=30

ANALYTICS_IO_MAX_WORKERS=8
ANALYTICS_CPU_MAX_WORKERS=0
ANALYTICS_MIN_POINTS_FOR_PARALLEL=1000
